* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  background-color: #c5e4e7;
  font-family: "Space Mono", monospace;
  padding-top: 50px;
  min-height: 100vh;
}

.logo {
  display: block;
  width: 90px;
  height: 54px;
  margin: 0 auto 40px;
}

.calculator {
  background-color: #fff;
  -webkit-box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
          box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px 25px 0px 0px;
  padding: 32px;
}

h2 {
  font-size: 16px;
  margin-bottom: 1rem;
}

.number-input {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 2rem;
  background-color: #f3f9fa;
  border: none;
  padding: 0 20px;
  width: 100%;
  text-align: right;
  border-radius: 5px;
}

.number-input:focus {
  outline: 1px solid #26c2ae;
}

.input-wrapper {
  position: relative;
}

.input__img {
  position: absolute;
  left: 20px;
  top: 9px;
}

.calculator__tip-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.tip {
  background: #00474b;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-family: "Space Mono", monospace;
  width: 146px;
  height: 48px;
  font-size: 24px;
  margin-bottom: 1rem;
}

.tip.active {
  background-color: #26c2ae;
  color: #00474b;
}

.custom-tip {
  width: 146px;
  height: 48px;
  font-family: "Space Mono", monospace;
  color: #547878;
  font-weight: 700;
  text-align: center;
  border: none;
  font-size: 24px;
  border-radius: 5px;
}

.custom-tip.active {
  outline: 1px solid #26c2ae;
}

.calculator__number-of-people {
  position: relative;
}

.alert {
  color: #e17457;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.alert.active {
  display: block;
  background-color: #fff;
}

#people.active {
  border: 1px solid #e17457;
}

.calculator__display {
  background-color: #00474b;
  border-radius: 15px;
  padding: 37px 24px 24px;
  color: #fff;
}

.calculator__tip-amount,
.calculator__total-per-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculator__amount-display {
  font-size: 32px;
  line-height: 47px;
  text-align: right;
  letter-spacing: -0.666667px;
  color: #26c2ae;
  font-weight: bold;
  margin-bottom: 20px;
}

.calculator__total-per-person {
  margin-bottom: 2rem;
}

.btn {
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #00474b;
  background-color: #26c2ae;
  border-radius: 5px;
  border: none;
  height: 48px;
  text-transform: uppercase;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #9fe8df;
}

.gray {
  color: #547878;
}

@media (min-width: 768px) {
  .container {
    padding-bottom: 50px;
  }
  .calculator {
    max-width: 70%;
    margin: 0 auto;
    border-radius: 25px;
    padding: 3rem;
  }
}

@media (min-width: 1024px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .calculator {
    max-width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 28px 42px;
  }
  .calculator__inputs {
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
  }
  .calculator__display {
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #bill {
    margin-bottom: 1rem;
  }
  #people {
    margin-bottom: 0;
  }
  .btn {
    margin-top: 50px;
  }
}

@media (min-width: 1440px) {
  .logo {
    margin-bottom: 87px;
  }
  .calculator {
    width: 63.5%;
    height: 481px;
  }
  .calculator__inputs {
    -ms-flex-preferred-size: 41.2%;
        flex-basis: 41.2%;
  }
  .calculator__display {
    -ms-flex-preferred-size: 44.9%;
        flex-basis: 44.9%;
    padding: 40px;
  }
  .calculator__amount-display {
    font-size: 48px;
    line-height: 71px;
    letter-spacing: -1px;
  }
}
/*# sourceMappingURL=style.css.map */