$clr-bodyBackground: #c5e4e7;
$clr-darkGreen: #00474b;
$clr-darkGray: #5e7a7d;
$clr-gray: #3d6666;
$clr-activeGreen: #26c2ae;
$clr-offGray: #547878;
$clr-white: #fff;
$clr-offWhite: #f3f9fa;
$clr-error: #e17457;
$clr-btnActive: #9fe8df;
